* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: sans-serif;
}

body {
    background-color: aliceblue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

header {
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    height: 80px;
    display: flex;

}

aside {
    background-color: white;
    width: 80px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section {
    flex: 1;
    display: flex;

}

main {
    flex: 1;
    padding: 30px;
}

.brand {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand img {
    width: 30%;
    
}

.container {
    padding: 0px 30px;

}

.header-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    display: flex;
    align-items: stretch;
}

.search-input {
    background-color: aliceblue;
    padding: 10px 20px;
}

.search-input .icon {
    color: rgb(142, 142, 142);
}

.search-input input {
    border: none;
    background: none;
    width: 300px;
}

.search-input input:focus {
    outline: none;

}

.search-btn {
    background-color: rgb(11, 55, 230);
    color: white;
    border: none;
    padding: 10px 20px;
    transition: background-color 0.5s 0s ease;
}

.search-btn:hover {
    background-color: rgb(13, 38, 135);
    cursor: pointer;
}

.search-btn:active {
    transform: scaleY(0.95);
}

.item {
    position: relative;
    padding: 10PX;
    border-radius: 50%;
    transition: background-color 0.5s 0s ease;
}

.badge {
    background-color: crimson;
    width: 5px;
    position: absolute;
    height: 5px;
    top: 5px;
    right: 5px;
    border-radius: 50%;
}

.item:hover {
    background-color: azure;
}

.nav {
    display: flex;
    gap: 20px;
    width: 100%;
    flex-direction: column;

}

.nav-item {
    padding: 20px;
    text-align: center;
    font-size: 21px;
    color: #b4b4b4;
    transition: all 0.5s 0s ease;
}

.nav-item:hover {
    color: rgb(17, 55, 203);
    cursor: pointer;
    background-color: #f8f8f8;
}

.nav-item.active {
    color: rgb(71, 106, 220);
}

.card {
    display: flex;
    padding: 5px 10px;
    flex-direction: column;
    background-color: white;
    gap: 15px;
    align-items: flex-start;
    position: relative;
    flex: 1;
}

.card-icon {
    padding: 10px;
    font-size: 32px;
    color: rgb(21, 53, 238);
    background-color: rgb(150, 178, 242);
}

.card-tittle {
    color: #b4b4b4;

}

.card-value {
    font-size: 46px;
}

.card hr {
    width: 100%;
    border: 1px solid #b4b4b47a;
}

.card-footer {
    color: #b4b4b4;
}

.cards {
    display: flex;
    gap: 20px;
}

.card::after {
    content: "";
    width: 100px;
    height: 80px;
    background-image: url(./assets/stonks.img);
    background-size: cover;
    position: absolute;
    top: 15px;
    right: 15px;
}

.card-footer a {
    color: rgb(21, 53, 238);
}

.card.green .card-icon {
    background: rgba(153, 205, 50, 0.178);
    color: yellowgreen;
}